<ons-page>
  <ons-card>
    <img src="images/4.jpg" alt="4" style="width: 100%">
    <div class="title">
      Chalisa Phetsithong
    </div>
    <div class="content">
      <ons-list-header>Bindings</ons-list-header>
      <ons-list-item>Vue</ons-list-item>
      <ons-list-item>Angular</ons-list-item>
      <ons-list-item>React</ons-list-item>
      </ons-list>
    </div>
  </ons-card>
  <ons-speed-dial position="bottom right" direction="up">
    <ons-fab>
      <ons-icon icon="md-share"></ons-icon>
    </ons-fab>
    <ons-speed-dial-item>
      <ons-icon icon="md-twitter"></ons-icon>
    </ons-speed-dial-item>
    <ons-speed-dial-item>
      <ons-icon icon="md-facebook"></ons-icon>
    </ons-speed-dial-item>
    <ons-speed-dial-item>
      <ons-icon icon="md-google-plus"></ons-icon>
    </ons-speed-dial-item>
  </ons-speed-dial>
</ons-page>